---
import Layout from "@layouts/Layout.astro";
import SkipLink from "@utils/SkipLink.astro";
import BackToTop from "@utils/BackToTop.astro";
---

<Layout title="Hans Hofner | Software Development Consultant">
  <SkipLink />
  <div class="sr-only" id="start"></div>
  <main class="container">
    <section class="hero">
      <div class="hero-content">
        <h1>Hans Hofner</h1>
        <p class="subtitle">Web Software Development Consultant</p>
        <div class="intro">
          <p>
            I'm a versatile software developer with 5 years of experience crafting robust web applications
            and delivering value through clean, maintainable code.
          </p>
          <div class="cta-wrapper">
            <a href="mailto:hans@hofner.tech" class="cta-button">
              Contact Me
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6z"/></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="hero-image">
        <img
          src="/images/hans-profile.jpg"
          alt="Image of Hans Hofner"
          width="400"
          height="400"
          class="profile-image"
        />
      </div>
    </section>

    <section class="tech-stack">
      <h2>Technologies I Use</h2>
      <div class="tech-grid">
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="35.93" height="32" viewBox="0 0 256 228"><!-- Icon from SVG Logos by Gil Barbara - https://raw.githubusercontent.com/gilbarbara/logos/master/LICENSE.txt --><path fill="#00D8FF" d="M210.483 73.824a172 172 0 0 0-8.24-2.597c.465-1.9.893-3.777 1.273-5.621c6.238-30.281 2.16-54.676-11.769-62.708c-13.355-7.7-35.196.329-57.254 19.526a171 171 0 0 0-6.375 5.848a156 156 0 0 0-4.241-3.917C100.759 3.829 77.587-4.822 63.673 3.233C50.33 10.957 46.379 33.89 51.995 62.588a171 171 0 0 0 1.892 8.48c-3.28.932-6.445 1.924-9.474 2.98C17.309 83.498 0 98.307 0 113.668c0 15.865 18.582 31.778 46.812 41.427a146 146 0 0 0 6.921 2.165a168 168 0 0 0-2.01 9.138c-5.354 28.2-1.173 50.591 12.134 58.266c13.744 7.926 36.812-.22 59.273-19.855a146 146 0 0 0 5.342-4.923a168 168 0 0 0 6.92 6.314c21.758 18.722 43.246 26.282 56.54 18.586c13.731-7.949 18.194-32.003 12.4-61.268a145 145 0 0 0-1.535-6.842c1.62-.48 3.21-.974 4.76-1.488c29.348-9.723 48.443-25.443 48.443-41.52c0-15.417-17.868-30.326-45.517-39.844m-6.365 70.984q-2.102.694-4.3 1.345c-3.24-10.257-7.612-21.163-12.963-32.432c5.106-11 9.31-21.767 12.459-31.957c2.619.758 5.16 1.557 7.61 2.4c23.69 8.156 38.14 20.213 38.14 29.504c0 9.896-15.606 22.743-40.946 31.14m-10.514 20.834c2.562 12.94 2.927 24.64 1.23 33.787c-1.524 8.219-4.59 13.698-8.382 15.893c-8.067 4.67-25.32-1.4-43.927-17.412a157 157 0 0 1-6.437-5.87c7.214-7.889 14.423-17.06 21.459-27.246c12.376-1.098 24.068-2.894 34.671-5.345q.785 3.162 1.386 6.193M87.276 214.515c-7.882 2.783-14.16 2.863-17.955.675c-8.075-4.657-11.432-22.636-6.853-46.752a157 157 0 0 1 1.869-8.499c10.486 2.32 22.093 3.988 34.498 4.994c7.084 9.967 14.501 19.128 21.976 27.15a135 135 0 0 1-4.877 4.492c-9.933 8.682-19.886 14.842-28.658 17.94M50.35 144.747c-12.483-4.267-22.792-9.812-29.858-15.863c-6.35-5.437-9.555-10.836-9.555-15.216c0-9.322 13.897-21.212 37.076-29.293c2.813-.98 5.757-1.905 8.812-2.773c3.204 10.42 7.406 21.315 12.477 32.332c-5.137 11.18-9.399 22.249-12.634 32.792a135 135 0 0 1-6.318-1.979m12.378-84.26c-4.811-24.587-1.616-43.134 6.425-47.789c8.564-4.958 27.502 2.111 47.463 19.835a144 144 0 0 1 3.841 3.545c-7.438 7.987-14.787 17.08-21.808 26.988c-12.04 1.116-23.565 2.908-34.161 5.309a160 160 0 0 1-1.76-7.887m110.427 27.268a348 348 0 0 0-7.785-12.803c8.168 1.033 15.994 2.404 23.343 4.08c-2.206 7.072-4.956 14.465-8.193 22.045a381 381 0 0 0-7.365-13.322m-45.032-43.861c5.044 5.465 10.096 11.566 15.065 18.186a322 322 0 0 0-30.257-.006c4.974-6.559 10.069-12.652 15.192-18.18M82.802 87.83a323 323 0 0 0-7.227 13.238c-3.184-7.553-5.909-14.98-8.134-22.152c7.304-1.634 15.093-2.97 23.209-3.984a322 322 0 0 0-7.848 12.897m8.081 65.352c-8.385-.936-16.291-2.203-23.593-3.793c2.26-7.3 5.045-14.885 8.298-22.6a321 321 0 0 0 7.257 13.246c2.594 4.48 5.28 8.868 8.038 13.147m37.542 31.03c-5.184-5.592-10.354-11.779-15.403-18.433c4.902.192 9.899.29 14.978.29c5.218 0 10.376-.117 15.453-.343c-4.985 6.774-10.018 12.97-15.028 18.486m52.198-57.817c3.422 7.8 6.306 15.345 8.596 22.52c-7.422 1.694-15.436 3.058-23.88 4.071a382 382 0 0 0 7.859-13.026a347 347 0 0 0 7.425-13.565m-16.898 8.101a359 359 0 0 1-12.281 19.815a329 329 0 0 1-23.444.823c-7.967 0-15.716-.248-23.178-.732a310 310 0 0 1-12.513-19.846h.001a307 307 0 0 1-10.923-20.627a310 310 0 0 1 10.89-20.637l-.001.001a307 307 0 0 1 12.413-19.761c7.613-.576 15.42-.876 23.31-.876H128c7.926 0 15.743.303 23.354.883a329 329 0 0 1 12.335 19.695a359 359 0 0 1 11.036 20.54a330 330 0 0 1-11 20.722m22.56-122.124c8.572 4.944 11.906 24.881 6.52 51.026q-.518 2.504-1.15 5.09c-10.622-2.452-22.155-4.275-34.23-5.408c-7.034-10.017-14.323-19.124-21.64-27.008a161 161 0 0 1 5.888-5.4c18.9-16.447 36.564-22.941 44.612-18.3M128 90.808c12.625 0 22.86 10.235 22.86 22.86s-10.235 22.86-22.86 22.86s-22.86-10.235-22.86-22.86s10.235-22.86 22.86-22.86"/></svg>
          <span>React</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="37.07" height="32" viewBox="0 0 256 221"><!-- Icon from SVG Logos by Gil Barbara - https://raw.githubusercontent.com/gilbarbara/logos/master/LICENSE.txt --><path fill="#41B883" d="M204.8 0H256L128 220.8L0 0h97.92L128 51.2L157.44 0z"/><path fill="#41B883" d="m0 0l128 220.8L256 0h-51.2L128 132.48L50.56 0z"/><path fill="#35495E" d="M50.56 0L128 133.12L204.8 0h-47.36L128 51.2L97.92 0z"/></svg>
          <span>Vue.js</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="48.77" height="32" viewBox="0 0 256 168"><!-- Icon from SVG Logos by Gil Barbara - https://raw.githubusercontent.com/gilbarbara/logos/master/LICENSE.txt --><path fill="#00DC82" d="M143.618 167.029h95.166c3.023 0 5.992-.771 8.61-2.237a16.96 16.96 0 0 0 6.302-6.115a16.3 16.3 0 0 0 2.304-8.352c0-2.932-.799-5.811-2.312-8.35L189.778 34.6a16.97 16.97 0 0 0-6.301-6.113a17.6 17.6 0 0 0-8.608-2.238c-3.023 0-5.991.772-8.609 2.238a16.96 16.96 0 0 0-6.3 6.113l-16.342 27.473l-31.95-53.724a17 17 0 0 0-6.304-6.112A17.64 17.64 0 0 0 96.754 0c-3.022 0-5.992.772-8.61 2.237a17 17 0 0 0-6.303 6.112L2.31 141.975a16.3 16.3 0 0 0-2.31 8.35c0 2.932.793 5.813 2.304 8.352a16.96 16.96 0 0 0 6.302 6.115a17.6 17.6 0 0 0 8.61 2.237h59.737c23.669 0 41.123-10.084 53.134-29.758l29.159-48.983l15.618-26.215l46.874 78.742h-62.492zm-67.64-26.24l-41.688-.01L96.782 35.796l31.181 52.492l-20.877 35.084c-7.976 12.765-17.037 17.416-31.107 17.416"/></svg>
          <span>Nuxt</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="46.82" height="32" viewBox="0 0 256 175"><!-- Icon from SVG Logos by Gil Barbara - https://raw.githubusercontent.com/gilbarbara/logos/master/LICENSE.txt --><path fill="#FD4F00" d="M96.135 122.038c-1.128-.203-1.57-.28-2.012-.362c-14.288-2.657-23.32-11.303-27.6-24.895c-2.668-8.472 2.18-14.711 11.066-15.122c7.276-.337 12.256 3.845 16.66 8.711c5.677 6.274 10.881 12.973 16.457 19.341c8.028 9.167 17.487 15.07 30.429 13.248c11.605-1.634 21.718-6.291 30.518-13.956c1.323-1.152 2.774-2.156 4.167-3.229l-.878-1.035c-7.387 2.294-14.921 3.065-22.619 2.678c-11.648-.586-22.747-3.018-32.678-9.413c-9.062-5.836-15.745-13.656-18.922-24.101c-2.566-8.438 2.686-14.341 11.43-13.121c3.457.482 6.367 2.039 8.979 4.247c2.127 1.796 4.167 3.7 6.336 5.442c10.206 8.201 24.467 8.657 37.422-.247c-21.298-.097-35.788-11.812-48.515-26.659c-4.981-5.811-9.844-11.726-14.928-17.445C91.61 15.053 80.697 5.303 65.754 1.977C46.666-2.272 28.238.505 10.55 8.606C7.023 10.221 3.636 12.099 0 15.125c1.8 0 2.782.022 3.762-.003c8.918-.23 15.601 3.733 20.421 11.028c3.508 5.309 5.161 11.313 6.421 17.49c1.87 9.167.902 18.513 1.982 27.722c2.776 23.675 14.876 40.196 37.406 48.656c8.262 3.103 16.736 4.136 26.143 2.02M39.196 14.041c-3.56.898-6.405-.539-9.337-3.506c5.021-1.251 9.449-1.736 14.207-1.923c-.389 3.089-2.211 4.759-4.87 5.429m116.658 138.251c-.31-2.279-2.257-3.283-3.788-4.475c-6.772-5.271-14.692-7.137-23.089-7.292c-5.011-.092-9.97-.466-14.696-2.223c-2.166-.805-4.589-1.839-4.534-4.638c.055-2.84 2.526-3.643 4.775-4.315c1.841-.55 3.741-.901 5.837-1.391c-5.324-3.412-10.525-3.885-17.455-1.098c-10.909 4.386-21.664 3.866-32.539-.061c-6.14-2.216-11.589-5.695-17.262-8.776l-.155.107l.147-.102c-.14-.428-.394-.439-.72-.2l.445.39c4.705 7.711 11.061 13.915 18.241 19.217c13.828 10.21 28.932 16.299 46.605 13.597a243 243 0 0 1 17.216-2.014c7.218-.583 14.095 1.448 20.972 3.274M122.535 41.673c-.382-.277-.749-.972-1.529-.253c6.358 8.6 14.526 14.94 24.361 18.931c15.873 6.441 31.983 7.543 48.46 1.859c12.792-4.412 21.991-.101 26.768 12.319c.691-14.416-7.79-24.92-21.299-26.979c-7.6-1.158-14.617 1.363-21.736 3.428c-19.811 5.744-38.221 2.908-55.025-9.305m98.737 56.228c2.582.217 5.162.451 7.743.677c-5.832-5.123-12.94-5.529-20.131-5.12c-10.95.622-18.839 6.937-26.031 14.482c-6.337 6.65-12.063 14.11-21.52 16.782c.158.284.199.426.243.426c1.272.019 2.547.079 3.816.021c13.735-.622 26.674-3.519 36.967-13.487c3.241-3.139 6.142-6.626 9.271-9.884c2.61-2.717 5.775-4.223 9.642-3.897m-31.907-17.022c-10.25.896-19.154 5.136-27.517 10.727c-6.437 4.303-13.321 6.339-21.057 4.993c-1.361-.237-2.732-.414-4.098-.619l-.047.572c.492.253.967.549 1.479.752c1.289.51 2.559 1.124 3.897 1.442c14.886 3.539 29.136 1.726 41.984-6.573c8.098-5.231 16.481-6.222 25.567-4.871c.918.137 1.832.304 2.754.39c.854.081 1.746.93 2.899.011c-7.943-5.738-16.499-7.642-25.861-6.824m-36.634-34.793c5.377.186 10.73-.518 16.354-3.859c-1.647.146-2.346.143-3.016.277c-7.748 1.544-14.703-.146-20.898-5.044c-2.273-1.798-4.584-3.548-6.886-5.309c-9.126-6.98-19.591-9.315-31.038-9.117c.185.563.196.949.395 1.149c12.455 12.598 26.87 21.275 45.089 21.903m90.142 64.638c-7.708-7.645-18.052-8.63-27.624-1.958c6.336.285 11.092 2.306 14.949 6.3c1.365 1.413 2.78 2.8 4.307 4.032c5.832 4.704 15.719 4.93 21.495.566c-6.785-2.648-6.785-2.648-13.127-8.94m-76.767 58.545c-6.774-12.609-18.159-15.454-31.311-14.608c3.888 1.078 7.519 2.737 10.851 5.063c3.061 2.137 5.637 4.783 8.176 7.493c5.031 5.369 12.883 8.664 18.086 7.55c-2.389-1.506-4.511-3.096-5.802-5.498m63.031-70.431q.002-.12.009-.245l-.02.021l.022-.024l-.133-.012c.026.024.054.043.08.067zm-72.907 53.751l-.267-.151a.5.5 0 0 0 .056.159c.018.03.138-.004.211-.008m-.267-.151q-.01-.062-.026-.124l-.031.038l.031-.037l-.083-.023c.005.034.017.062.021.097z"/></svg>
          <span>Elixir</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><!-- Icon from SVG Logos by Gil Barbara - https://raw.githubusercontent.com/gilbarbara/logos/master/LICENSE.txt --><path fill="#009688" d="M128 0C57.33 0 0 57.33 0 128s57.33 128 128 128s128-57.33 128-128S198.67 0 128 0m-6.67 230.605v-80.288H76.699l64.128-124.922v80.288h42.966z"/></svg>
          <span>FastAPI</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="41.17" height="32" viewBox="0 0 256 199"><!-- Icon from SVG Logos by Gil Barbara - https://raw.githubusercontent.com/gilbarbara/logos/master/LICENSE.txt --><path d="M118.432 187.698c32.89-5.81 60.055-10.618 60.367-10.684l.568-.12l-31.052-36.935c-17.078-20.314-31.051-37.014-31.051-37.11c0-.182 32.063-88.477 32.243-88.792c.06-.105 21.88 37.567 52.893 91.32c29.035 50.323 52.973 91.815 53.195 92.203l.405.707l-98.684-.012l-98.684-.013l59.8-10.564zM0 176.435c0-.052 14.631-25.451 32.514-56.442l32.514-56.347l37.891-31.799C123.76 14.358 140.867.027 140.935.001c.069-.026-.205.664-.609 1.534s-18.919 40.582-41.145 88.25l-40.41 86.67l-29.386.037c-16.162.02-29.385-.005-29.385-.057z" fill="#0089D6" fill-rule="nonzero"/></svg>
            <span>Azure</span>
        </div>
      </div>
    </section>

    <section class="values">
      <h2>My Values</h2>
      <ul class="values-list">
        <li>
          <strong>Pragmatic Solutions</strong>
          <p>Delivering solutions that solve real problems efficiently and effectively.</p>
        </li>
        <li>
          <strong>Clear and Regular Communication</strong>
          <p>Keeping everyone informed with timely updates and understandable explanations.</p>
        </li>
        <li>
          <strong>Respect for Teammates</strong>
          <p>Valuing diverse perspectives and fostering a collaborative environment.</p>
        </li>
        <li>
          <strong>Working Towards Perfection</strong>
          <p>Create software that is at the highest quality and reachest the most people.</p>
        </li>
      </ul>
    </section>

    <section class="contact">
      <h2>Other Ways to Get in Touch</h2>
      <div class="contact-links">
        <a href="mailto:hans@hofner.tech" class="contact-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M19 8q-1.25 0-2.125-.875T16 5t.875-2.125T19 2t2.125.875T22 5t-.875 2.125T19 8M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h9.1q.4 0 .663.3T14 5q0 .275.025.513T14.1 6q.175.8.575 1.488T15.65 8.7L12 11L5.3 6.8q-.425-.275-.863-.025T4 7.525q0 .225.1.413t.3.312l7.075 4.425q.25.15.525.15t.525-.15l4.75-2.975q.425.15.85.225T19 10t.9-.075t.875-.25t.825.05t.4.65V18q0 .825-.588 1.413T20 20z"/></svg>
          hans@hofner.tech
        </a>
        <a href="https://bsky.app/profile/hofner.tech" class="contact-item" target="_blank" rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path fill="currentColor" d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2c-18.2 64.8-84.4 81.4-143.3 71.3C456 322 482.2 380 425.6 438c-107.4 110.2-154.3-27.6-166.3-62.9c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"/></svg>
          @hofner.tech
        </a>
        <a href="https://www.linkedin.com/in/hans-hofner/" class="contact-item" target="_blank" rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 56 56"><path fill="currentColor" fill-rule="evenodd" d="M45.608 45.607h-7.415V34.002c0-2.766-.048-6.326-3.853-6.326c-3.86 0-4.449 3.015-4.449 6.129v11.802h-7.407V21.745h7.108v3.263h.103c.99-1.877 3.409-3.855 7.016-3.855c7.51 0 8.897 4.94 8.897 11.367zM14.123 18.485a4.3 4.3 0 0 1-4.303-4.301a4.3 4.3 0 0 1 8.6 0a4.3 4.3 0 0 1-4.297 4.301m-3.714 27.122h7.423V21.745H10.41zM49.3 3H6.688C4.653 3 3 4.614 3 6.606v42.787c0 1.992 1.653 3.608 3.688 3.608H49.3c2.04 0 3.699-1.616 3.699-3.608V6.606C53 4.614 51.34 3 49.301 3"/></svg>
          LinkedIn
        </a>
      </div>
    </section>
  </main>
  <section aria-label="Utilities">
    <BackToTop />
  </section>
</Layout>
